body {
    font-family: Verdana, Geneva, sans-serif;
}
.thumbnail {
    display: inline-block;
}
.image {
}
img {
    width: 100%;
    height: auto;
    display: block;
}
td {
    vertical-align: top;
}
.score {
    text-align: center;
    font-weight: bold;
}
