body {
    font-family: Verdana, Geneva, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
td {
    vertical-align: middle;
}

td .image-file, td .origin-file {
    margin-bottom: 0.5rem;
}