/.html*/
/*.jpg
/*.png
/*.zip
*.log
*.pyc
*.csv
*.tsv
.idea
.local
pysaurus.egg-info
pytest_cache
blob_storage/
pysaurus/interface/web/blob_storage/
pysaurus/interface/web/webrtc_event_logs/
webrtc_event_logs/
/dist
/build
/.*
/tests/*.png
ignored
__enamlcache__
htmlcov
coverage.json
CLAUDE.md

.*.json
