/.html*/
/*.jpg
/*.png
*.log
*.pyc
*.csv
*.tsv
.idea
.local
pysaurus.egg-info
blob_storage/
pysaurus/interface/web/blob_storage/
pysaurus/interface/web/webrtc_event_logs/
webrtc_event_logs/
/dist
/build
/.*
