/.html*/
/*.jpg
/*.png
/*.zip
*.log
*.pyc
__pycache__/
*.csv
*.tsv
.idea
.local
pysaurus.egg-info
pytest_cache
blob_storage/
wip/pysaurus_interfaces/web/blob_storage/
wip/pysaurus_interfaces/web/webrtc_event_logs/
webrtc_event_logs/
/dist
/build
/.*
/tests/*.png
ignored
__enamlcache__
htmlcov
coverage.json

.*.json

test_videos
/.pysaurus.yaml
