ujson
whirlpool
Pillow
bcrypt
tornado>=5.0
ujson
moviepy
cefpython3==66.0

# Seems useful on Ubuntu to correctly use `videoRaptorBatch.so`.
# librsvg # conda install -c conda-forge librsvg
# libiconv # conda install -c conda-forge libiconv
