/**Fancy box.**/
.fancybox-wrapper {
	background-color: rgba(245, 250, 255, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 1*;
	height: 1*;
}
.fancybox {
	background-color: white;
	margin: 1*;
	width: 2*;
	height: 4*;
	border: 1px solid gray;
	box-shadow: 0 0 25px black;
}
.fancybox-header {
	padding: 0.5em;
	border-bottom: 1px solid gray;
}
.fancybox-title {
	width: 1*;
	height: 1*;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
.fancybox-close {
	padding-left: 0.5em;
}
.fancybox-content {
	height: 1*;
	overflow: auto;
	margin: 0.5em;
	padding: 0.5em;
}
