/** Home page **/
#home {
	height: 1*;
}
#home #button-initial {
	text-align: center;
	padding: 0.5em;
}
#home div.notifications {
	border: 1px solid gray;
	height: 1*;
	overflow: auto;
}
#home div.notifications > div {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
#home .job label {
	padding-right: 0.5em;
	vertical-align: middle;
}
#home .job progress {
	width: 1*;
	text-align: center;
}
#home .job progress span {
	display: inline-block;
}
