/** Global. **/
main {
	height: 1*;
}
table, th, td {
	border-collapse: collapse;
}
.horizontal {
	flow: horizontal;
}
.text-right {
	text-align: right;
}
.mb-1 {
	margin-bottom: 0.25em;
}
.plain {
	display: block;
	width: 1*;
}
.table {
	display: table;
}
.row {
	display: table-row;
}
.col {
	display: table-cell;
}
