/** Property page **/
#properties h2 {
	vertical-align: middle;
}
#properties h3 {
	text-align: center;
}
#properties h2 .title {
	text-align: center;
	width: 1*;
}
#properties .content {
	background-color: rgb(250, 250, 250);
}
#properties .content > .list {
	text-align: center;
	border-right: 1px solid rgb(182, 182, 182);
	width: 1*;
	padding: 1.5em;
}
#properties .list table {
	margin: auto;
	width: 1*;
}
#properties .list table thead {
	font-weight: bold;
	background-color: rgb(220, 220, 220);
}
#properties .list table thead th {
	padding: 0.25em 0.5em 0.25em 0.5em;
}
#properties .list table tbody td {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding: 0.25em 0.5em 0.25em 0.5em;
}
#properties .list button.delete {
	font-weight: bold;
	display: inline-block;
}
#properties .list table td.name {
	font-weight: bold;
}
#properties form.new {
	border-left: 1px solid rgb(182, 182, 182);
	margin-left: -1px;
	width: 1*;
	padding: 1em;
}
#properties form.new .entry {
	flow: horizontal;
}
#properties form.new .label,
#properties form.new .input {
	width: 1*;
	vertical-align: middle;
	padding: 0.5em;
}
#properties form.new .input input,
#properties form.new .input select,
#properties form.new .input .set-input {
	width: 1*;
}
#properties form.new .buttons button {
	display: block;
	width: 1*;
}
#properties form.new .buttons button.submit {
	font-weight: bold;
}
#properties form.new .label {
	text-align: right;
}
#properties form.new .input {
	text-align: left;
}
