/** selector **/
.selector {
	display: inline-block;
	position: relative;
	width: 150px;
	text-align: center;
	background-color: rgb(245, 245, 245);
}
.selector .view-bar, .selector .select {
	border: 1px solid black;
}
.selector .view {
	width: 1*;
	height: 1*;
	overflow: hidden;
	text-overflow: ellipsis;
}
.selector .select {
	margin-top: -1px;
	position: absolute;
	width: 1*;
	background-color: rgb(245, 245, 245);
}
.selector .select.show {
	display: block;
}
.selector .select.hide {
	display: none;
}
.selector .view-bar, .selector .option {
	cursor: pointer;
}
.selector .option.selected {
	background-color: blue;
	color: white;
}
.selector .option:hover {
	background-color: darkblue;
	color: white;
}
.selector .view, .selector .icon, .selector .option {
	padding: 0.15em 0.5em 0.15em 0.5em;
}
