#databases .new-paths {
	min-height: 10rem;
}

#databases td {
	padding: 0.25rem;
}

#databases > table > tr > td {
	vertical-align: top;
	width: 50%;
}

#home > .notifications {
	border: 1px solid gray;
	background-color: aliceblue;
}

#home > .notifications > div {
	padding: 0.25rem 0.5rem;
}

#properties h2 .back {
	vertical-align: middle;
}

#properties .content {
	background-color: rgb(250, 250, 250);
}

#properties .content > .list {
	border-right: 1px solid rgb(182, 182, 182);
	width: 50%;
	padding: 1.5rem;
}

#properties .list table {
	margin: auto;
}

#properties .list table thead {
	background-color: rgb(220, 220, 220);
}

#properties .list table thead th {
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

#properties .list table tbody td {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

#properties .new {
	border-left: 1px solid rgb(182, 182, 182);
	margin-left: -1px;
	width: 50%;
	padding: 1.5rem;
}

#properties .new > table > tr > td {
	width: 50%;
	padding: 0.5rem;
}

#videos header {
	align-items: center;
}

#videos .frontier {
	height: 0.5rem;
	background: linear-gradient(white, rgb(220, 220, 220));
}

#videos > .content {
	border-top: 1px solid rgb(220, 220, 220);
}

#videos > .content .side-panel {
	width: 15%;
	min-width: 15rem;
	background-color: gray;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}

#videos > .content .main-panel {
	width: 85%;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding-bottom: 5rem;
}

#videos .side-panel .stack.group > .header {
	flex-shrink: 0;
}
#videos .side-panel .stack.group > .content {
	flex-grow: 1;
	position: relative;
}

#videos.classifier header > * + * {
	margin-left: 1rem;
}

#videos header .pagination {
	flex-grow: 1;
}

#videos header .pagination .navigation {
	margin-left: 2rem;
}

#videos table.filter {
	background-color: white;
}

#videos table.filter td {
	padding: 0.4rem;
	text-align: center;
}

#videos table.filter td:last-child div + div {
	margin-top: 0.4rem;
}

#videos table.filter .no-filter {
	font-style: italic;
	color: gray;
}

#videos table.filter tr:hover {
	background-color: rgb(140, 140, 140);
	color: white;
}

#videos table.filter tr:hover .menu-pack {
	color: initial;
}

#videos table.filter tr:hover .no-filter {
	color: white;
}

#videos footer {
	border-top: 1px solid gray;
	font-size: 0.9rem;
}

#videos footer > .footer-status,
#videos footer > .footer-information {
	width: 50%;
	padding: 0.4rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#videos .footer-status {
	border-right: 1px solid gray;
}

#videos .footer-status:hover {
	color: gray;
}

#videos .footer-information .info {
	display: inline-block;
}

#videos .footer-information .info + .info {
	margin-left: 1rem;
	border-left: 1px solid black;
	padding-left: 1rem;
}
