/** Global. **/
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table,
th,
td {
	border-collapse: collapse;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.vertical {
	display: flex;
	flex-direction: column;
}

.text-right,
table.first-td-text-right td:first-child,
table.second-td-text-right td:first-child + td {
	text-align: right;
}

.position-relative {
	position: relative;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

.span-profiled {
	color: gray;
	background-color: white;
	border: 1px solid red;
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	font-size: 0.75rem;
	font-weight: bold;
}

.absolute-plain {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.block {
	display: block;
	width: 100%;
}

.word-break-all {
	word-break: break-word;
}

.red-flag {
	color: red;
	font-weight: bolder;
	margin-top: 0.5rem;
}

.red-brown {
	color: brown;
	font-weight: bolder;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.table-layout-fixed {
	table-layout: fixed;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.ml-1 {
	margin-left: 0.25rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-4 {
	padding: 1rem;
}

.pl-2 {
	padding-left: 0.5rem;
}

.pr-2 {
	padding-right: 0.5rem;
}

.pt-2 {
	padding-top: 0.5rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.overflow-auto {
	overflow: auto;
}

.clickable {
	cursor: pointer;
}
