body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

/** Style. **/

.container-fluid {
	position: absolute;
	width: 100%;
	height: 100%;
}

main {
	width: 100%;
	height: 100%;
}

header {
	background-color: rgb(170, 170, 180);
	border-bottom: 1px solid rgb(130, 130, 140);
}

section {
	position: relative;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: black !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: black !important;
}

.logo {
	background-color: chartreuse;
	border: 4px solid green;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	font-weight: bold;
	margin-right: 0.5rem;
	text-align: center;
	cursor: default;
	color: black;
}

.container-fluid button, .container-fluid label {
	font-weight: bold;
}

.notification-wrapper {
	width: 100%;
	height: 100%;
}

.notification {
	border: 1px solid gray;
}

.notification .notification-title {
	border-bottom: 1px solid gray;
	background-color: lightgray;
}

.page-content {
	background-color: royalblue;
}

.status-bar {
	position: relative;
	border-top: 1px solid rgb(70,70, 75);
	background-color: rgb(80, 80, 85);
	background-image: linear-gradient(rgb(100, 100, 105), rgb(80, 80, 85));
	color: white;
}

.status-bar .info-bar {
	border-right: 1px solid rgb(70, 70, 75);
}
.status-bar .message {
	font-weight: bold;
	cursor: pointer;
}

.message.error {
	/*border-color: rgb(150, 100, 100);*/
	/*background-color: rgb(255, 240, 240);*/
	color: rgb(250, 200, 200);
}

.message.info {
	/*border-color: rgb(150, 150, 100);*/
	/*background-color: rgb(255, 255, 240);*/
	color: rgb(250, 250, 200);
}

.message.success {
	/*border-color: rgb(100, 150, 100);*/
	/*background-color: rgb(240, 255, 240);*/
	color: rgb(200, 250, 200);
}

.status-bar .info-bar, .status-bar .message {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.2rem 1rem;
}

.videos {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.videos .videos-wrapper {
	background-color: rgb(120, 120, 125);
	position: relative;
	height: 100%;
	overflow: auto;
	padding: 0;
}

.videos .videos-wrapper .video-page {
}

.videos .videos-wrapper .video-page .video-view {
}

#video-image {
	margin: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgb(220, 220, 220);
	border: 12px solid gray;
	max-width: 300px;
}

#video-image:after {
	padding-top: 100%;
	display: block;
	content: '';
}

.video-view {
	padding: 0.5rem 1rem;
	cursor: default;
}

.video-view:nth-child(odd) {
	background-color: rgb(252, 252, 252);
}

.video-view:hover {
	background-color: rgb(220, 220, 225);
}

.video-view:hover code {
	background-color: rgb(240, 240, 245);
}

.video-view.video-selected {
	background-color: rgb(80, 80, 85);
	color: white;
}

.video-view + .video-view {
	border-top: 1px solid rgb(240, 240, 240);
}

.video-view.video-selected code {
	background-color: rgb(220, 220, 220);
}

.video-view .video-name {
	font-weight: bold;
	padding: 0.2rem 1ch;
	word-break: break-all;
}

.video-view .video-name .video-name-link {
	cursor: pointer;
}

.video-view .video-name .video-name-link:hover {
	text-decoration: underline;
}

.video-view .video-name .video-name-link:active {
	color: red;
}

.video-view code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.2rem 1ch;
	border: 1px solid rgb(210, 210, 210);
	background-color: rgb(250, 250, 250);
	/*word-break: keep-all;*/
	font-weight: bold;
	color: black;
}

.video-view .video-line-name {
	clear: both;
}

.video-view code + code {
	border-left-color: transparent;
}

.video-view .video-line-info code {
	border-top-color: transparent;
}

.video-view .video-date {
	white-space: nowrap;
}

.video-view .video-line-name .video-extension {
	white-space: nowrap;
	background-color: rgb(50, 50, 50);
	color: white;
	width: 6ch;
	text-align: center;
	border-bottom-color: transparent;
}

.video-view .video-line-name .video-quality {
	min-width: 8ch;
	border-bottom-color: transparent;
}

.video-view .video-line-info .label {
	white-space: nowrap;
	background-color: rgb(150, 150, 155);
	color: white;
	text-align: center;
	width: 4ch;
}

.video-view .video-line-info .value {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
}

.video-view .video-line-info .value.video-dimensions {
	width: 12ch;
	flex-basis: auto;
	flex-grow: 0;
}

.video-view .video-line-info .value.video-frame-rate {
	width: 11ch;
	flex-basis: auto;
	flex-grow: 0;
}

.video-view .video-line-info .value.video-size {
	width: 13ch;
	flex-basis: auto;
	flex-grow: 0;
}

.video-view .video-line-info .value.video-codec {
	width: 12ch;
	flex-basis: auto;
	flex-grow: 0;
}

.react-confirm-alert .confirm {
	width: 100%;
	background-color: white;
	padding: 2rem;
	border: 1px solid black;
}

.confirm {
	text-align: center;
}

.confirm h1 {
	text-align: center;
}

.confirm .alert-attention {
	color: red;
}

.confirm .alert-filename {
	border: 1px solid gray;
}

.confirm .alert-filename code {
	color: black;
}

.context-menu {
	background-color: white;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid gray;
}

.menu-item {
	padding: 0.5rem 1rem;
	min-width: 10rem;
}

.menu-item:hover {
	background-color: rgb(100, 100, 105);
	color: white;
}

.menu-item.action-delete {
	color: red;
}

.video-form.empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
}
