.collapsable {
}
.collapsable .header {
    cursor: pointer;
    border: 1px solid rgba(240, 240, 240, 0.5);
    background: linear-gradient(rgba(240, 240, 240, 0.5), rgba(240, 240, 240, 0.5), rgba(220, 220, 220, 0.5));
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.collapsable .header:hover {
    background: linear-gradient(rgba(230, 230, 230, 0.5), rgba(230, 230, 230, 0.5), rgba(210, 210, 210, 0.5));
}
.collapsable .header .title {
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}
.collapsable .header .icon {
    font-size: 0.8em;
}
.collapsable .content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}