.dialog {}
.dialog > .content {
	flex-grow: 1;
	position: relative;
	overflow: auto;
	padding: 0.5em;
}
.dialog > .buttons {
	border-top: 1px solid gray;
	flex-shrink: 0;
}
.dialog > .buttons .button {
	flex-grow: 1;
	padding: 0.5em;
}
.dialog > .buttons .button button {
	display: block;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
}
.dialog > .buttons .button.yes button {
	color: green;
}
.dialog > .buttons .button.no button {
	color: red;
}
