.form-set-properties .properties {
    flex-grow: 1;
}
.form-set-properties .info {
    padding-right: 1em;
    width: 300px;
    text-align: center;
}
.form-set-properties .filename {
    border: 1px solid black;
    padding: 0.25em;
}
.form-set-properties .filename,
.form-set-properties .title {
    margin-bottom: 0.25em;
}
.form-set-properties .table {
    width: 100%;
}
.form-set-properties .table-cell {
    vertical-align: top;
    padding: 0.25em;
}
.form-set-properties .table-cell.label {
    width: 40%;
    text-align: right;
}
.form-set-properties .table-cell.input {
    width: 60%;
}
.form-set-properties .table-cell.input input,
.form-set-properties .table-cell.input select,
.form-set-properties .table-cell.input .set-input {
    width: 100%;
}
