/** form group **/
.form-group {
    width: 100%;
}
.form-group select {
    display: block;
    width: 100%;
}
.form-group td {
    padding: 0.5em;
    width: 50%;
}
.form-group td:first-child {
    text-align: right;
}
