.form-property-multi-video {
	flex-grow: 1;
}

.form-property-multi-video .bar {
	justify-content: center;
}

.form-property-multi-video .bar > div {
	width: 30%;
	text-align: center;
	margin: 0.25rem;
	overflow: auto;
	border: 1px solid transparent;
}

.form-property-multi-video .panels {
	flex-grow: 1;
}

.form-property-multi-video .panels button {
	width: 2rem;
	display: block;
}

.form-property-multi-video .panels > div {
	border-color: lightgrey;
}

.form-property-multi-video .panels .entry + .entry {
	margin-top: 0.1rem;
}

.form-property-multi-video .panels .value,
.form-property-multi-video .all .value {
	flex-grow: 1;
}

.form-property-multi-video .titles {
	font-weight: bold;
}

.form-property-multi-video .new button.add-new-value {
	flex-grow: 1;
	display: block;
	margin-left: 0.1rem;
}

.form-property-multi-video .titles,
.form-property-multi-video .new {
	flex-shrink: 0;
}
