.group-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.group-view .header {
    text-align: center;
    flex-shrink: 0;
    padding-top: 0.5em;
    background-color: rgb(230, 230, 230);
}
.group-view .selection.line {
    flex-shrink: 0;
    text-align: left;
}
.group-view .header .title {
    padding-bottom: 0.5em;
    font-weight: bold;
}
.group-view .form {
    flex-shrink: 0;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}
.group-view .form > * {
    display: block;
    flex-grow: 1;
}
.group-view .form > button {
    margin-left: 1rem;
}
.group-view .content {
    flex-grow: 1;
    overflow: auto;
}
.group-view .line {
    display: flex;
    flex-direction: row;
}
.group-view .line .column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25em;
}
.group-view .line .column.left {
    width: 70%;
}
.group-view .line .column.right {
    width: 30%;
    text-align: right;
}
.group-view .content .line {
    cursor: pointer;
}
.group-view .content .line:nth-child(even) {
    background-color: rgb(250, 250, 250);
}
.group-view .content .line.selected {
    color: white;
    background-color: black;
    font-weight: bold;
}
.group-view .content .line:hover {
    color: white;
    background-color: rgb(140, 140, 140);
}
.group-view .content .line.selected:hover {
    background-color: black;
}
.group-view .content .line.all {
    font-style: italic;
    font-weight: bolder;
}

.group-view .header .navigation > * + * {
    margin-left: 1px;
}