/** Home page **/
#home {
	flex-grow: 1;
	padding: 1em;
}
#home > .buttons {
	text-align: center;
	padding: 0.5em;
}
#home > .buttons .input-update {
	margin-right: 1em;
}
#home > .notifications {
	flex-grow: 1;
	border: 1px solid gray;
	overflow: auto;
	background-color: aliceblue;
}
#home > .notifications > div {
	padding: 0.25em 0.5em;
}
#home .job label {
	padding-right: 0.5em;
	vertical-align: middle;
}
#home .job progress {
	flex-grow: 1;
	text-align: center;
}
#home .job progress span {
	display: inline-block;
}
