/** Home page **/
#home {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 1em;
}
#home .button-initial {
	text-align: center;
	padding: 0.5em;
}
#home .button-initial .input-update {
	margin-right: 1em;
}
#home div.notifications {
	flex-grow: 1;
	border: 1px solid gray;
	overflow: auto;
	background-color: aliceblue;
}
#home div.notifications > div {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
#home .job label {
	padding-right: 0.5em;
	vertical-align: middle;
}
#home .job progress {
	flex-grow: 1;
	text-align: center;
}
#home .job progress span {
	display: inline-block;
}
