/** Global. **/
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#root {}
table, th, td {
	border-collapse: collapse;
}
.horizontal {
	display: flex;
	flex-direction: row;
}
.vertical {
	display: flex;
	flex-direction: column;
}
.text-right {
	text-align: right;
}
.mb-1 {
	margin-bottom: 0.25em;
}
.table {
	display: table;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}
.text-center {
	text-align: center;
}
.form-rename-video {
	text-align: center;
}
.form-rename-video input#name {
	display: block;
	width: 100%;
}
.form-rename-video h2 {
	word-break: break-all;
}
.span-profiled {
	color: gray;
	background-color: white;
	border: 1px solid red;
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	font-size: 0.75em;
	font-weight: bold;
}
.absolute-plain {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
