@set Video {

:root {
	flow: horizontal;
}
:root.even {
	background-color: rgb(240, 240, 240);
}
.image {
	padding: 0.5em;
}
.info {
	padding: 0.5em;
}
.info > div {
	margin-bottom: 0.5em;
}
.info .format {
	flow: horizontal;
}
.info .format .extension {
	background-color: black;
	color: white;
	font-weight: bold;
	padding-left: 1ex;
	padding-right: 1ex;
	width: 6ex;
	text-align: center;
	margin-right: 0.5em;
}
.info .filename {
	color: rgb(250, 140, 140);
	border: 1px solid rgb(250, 240, 240);
	background-color: rgb(250, 250, 250);
	padding: 0.2em;
}
.info .filename code:hover {
	text-decoration: underline;
	cursor: pointer;
	color: red;
}

li.delete-file {
	font-weight: bold;
	color: red;
}

}